<div class="wrapper poppins-regular">
  <div [ngSwitch]="activeFace" class="wrapper__card">
    <!-- front -->
    <div *ngSwitchCase="'front'" class="wrapper__card__front">
      <div class="wrapper__card__front__avatar">
        <img src="avatar.png" alt="" />
      </div>
      <div class="wrapper__card__front__details">
        <div class="wrapper__card__front__details__name">
          Ben And Engineering
        </div>
        <div class="wrapper__card__front__details__youtube">
          &#64;benandengineering
        </div>
      </div>
    </div>
    <!-- back -->
    <div
      *ngSwitchCase="'back'"
      [ngSwitch]="selectedBackContent.value"
      class="wrapper__card__back"
    >
      <div *ngSwitchCase="'basic'" class="wrapper__card__back__basic">
        <div class="wrapper__card__back__motto">
          <span class="wrapper__card__back__motto__label">motto</span>
          <div class="wrapper__card__back__motto__divider"></div>
          <div class="wrapper__card__back__motto__value">
            You stop growing when you stop learning!
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'advanced'" class="wrapper__card__back__advanced">
        <div class="wrapper__card__back__motto">
          <span class="wrapper__card__back__motto__label">motto</span>
          <div class="wrapper__card__back__motto__divider"></div>
          <div class="wrapper__card__back__motto__value">
            You stop growing when you stop learning!
          </div>
        </div>
        <div class="wrapper__card__back__skills">
          <div class="wrapper__card__back__skills__skill">Python</div>
          <div class="wrapper__card__back__skills__skill">Django</div>
          <div class="wrapper__card__back__skills__skill">Angular</div>
          <div class="wrapper__card__back__skills__skill">React</div>
        </div>
      </div>
      <div *ngSwitchCase="'premium'" class="wrapper__card__back__premium">
        <div class="wrapper__card__back__motto">
          <span class="wrapper__card__back__motto__label">motto</span>
          <div class="wrapper__card__back__motto__divider"></div>
          <div class="wrapper__card__back__motto__value">
            You stop growing when you stop learning!
          </div>
        </div>
        <div class="wrapper__card__back__skills">
          <div class="wrapper__card__back__skills__skill">Python</div>
          <div class="wrapper__card__back__skills__skill">Django</div>
          <div class="wrapper__card__back__skills__skill">Angular</div>
          <div class="wrapper__card__back__skills__skill">React</div>
          <div class="wrapper__card__back__skills__skill">React Native</div>
        </div>
        <div class="wrapper__card__back__socials">
          <div>Github</div>
          <div>Twitter</div>
          <div>Instagram</div>
        </div>
      </div>
      <div *ngSwitchDefault class="wrapper__card__back__not-selected">
        You have not selected the back face of your card!
      </div>
    </div>
  </div>

  <div [ngSwitch]="activeFace" class="wrapper__action-buttons">
    <div
      *ngSwitchCase="'front'"
      (click)="onCardFaceChange('back')"
      class="wrapper__action-buttons__show-back"
    >
      show back
    </div>
    <div
      *ngSwitchCase="'back'"
      (click)="onCardFaceChange('front')"
      class="wrapper__action-buttons__show-front"
    >
      show front
    </div>
    <div class="wrapper__action-buttons__select-content">
      <select
        [formControl]="selectedBackContent"
        placeholder="Select back content"
      >
        <option [value]="'reset'">Reset</option>
        <option [value]="'basic'">Basic</option>
        <option [value]="'advanced'">Advanced</option>
        <option [value]="'premium'">Premium</option>
      </select>
    </div>
  </div>
</div>

<div>
  <div [ngSwitch]="activeFace">
    <div *ngSwitchCase="'front'"></div>
    <div *ngSwitchCase="'back'" [ngSwitch]="selectedBackContent.value">
      <div *ngSwitchCase="'basic'"></div>
      <div *ngSwitchCase="'advanced'"></div>
      <div *ngSwitchCase="'premium'"></div>
      <div *ngSwitchDefault></div>
    </div>
  </div>

  <div [ngSwitch]="activeFace">
    <div *ngSwitchCase="'front'"></div>
    <div *ngSwitchCase="'back'"></div>
    <div></div>
  </div>
</div>
